<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cycle.oa.mapper.DocumentMapper" >
  <resultMap id="documentResultMap" type="cycle.oa.po.Document" >
  	<id column="id" property="id"/>
  	<result column="doc_Num" property="docNum"/>
  	<result column="document_Title" property="documentTitle"/>
  	<result column="level" property="level"/>
  	<result column="create_datetime" property="createDatetime"/>
  	<result column="publishUserName" property="publishUserName"/>
  	<result column="remark" property="remark"/>
  	<association property="publishUnit" javaType="cycle.oa.po.Unit">
  		<id column="unit_id" property="id"/>
  		<result column="unit_name" property="name"/>
  		
  	</association>
  </resultMap>
  
  <!-- sql片段对应字段名,id属性值任意 -->
  <sql id="key">
  	<!-- 去掉最后一个, -->
  	<trim suffixOverrides=",">
  		<if test="name!=null">
  			name,
  		</if>
  		<if test="docNum!=null">
  			doc_Num,
  		</if>
  		<if test="documentTitle!=null">
  			document_Title,
  		</if>
  		<if test="level!=null">
  			level,
  		</if>
  		<if test="createDatetime!=null">
  			create_datetime,
  		</if>
  		<if test="publishUserName!=null">
  			publishUserName,
  		</if>
  		<if test="remark!=null">
  			remark,
  		</if>
  		<if test="signInfoString!=null">
  			signInfoString,
  		</if>
  	</trim>
  </sql>
  
  <sql id="value">
  	<!-- 去掉最后一个, -->
  	<trim suffixOverrides=",">
  		<if test="name!=null">
  			#{name},
  		</if>
  		<if test="docNum!=null">
  			#{docNum},
  		</if>
  		<if test="documentTitle!=null">
  			#{documentTitle},
  		</if>
  		<if test="level!=null">
  			#{level},
  		</if>
  		<if test="createDatetime!=null">
  			#{createDatetime},
  		</if>
  		<if test="publishUserName!=null">
  			#{publishUserName},
  		</if>
  		<if test="remark!=null">
  			#{remark},
  		</if>
  		<if test="signInfoString!=null">
  			#{signInfoString},
  		</if>
  	</trim>
  </sql>
  
  <insert id="insert" parameterType="cycle.oa.po.Document">
  	<!-- 在使用MyBatis做持久层时，insert语句默认是不返回记录的主键值，而是返回插入的记录条数；如果业务层需要得到记录的主键时，可以通过配置的方式来完成这个功能 -->
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
  	insert into document(<include refid="key"/>) values(<include refid="value"/>)
  </insert>
  
  <!-- 传进数组,批量删除 -->
  <delete id="deleteByArray">
  	delete from document where id in 
  	<!-- foreach用于迭代数组元素
		 open表示开始符号
		 close表示结束符合
		 separator表示元素间的分隔符
		 item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同
		 #{ids}表示数组中的每个元素值
	 -->
  	<foreach collection="array" open="(" close=")" separator="," item="ids">
  		#{ids}
  	</foreach>
  </delete>
  
  <delete id="deleteByList">
  	delete from document where id in 
  	<!-- foreach用于迭代数组元素
		 open表示开始符号
		 close表示结束符合
		 separator表示元素间的分隔符
		 item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同
		 #{ids}表示数组中的每个元素值
	 -->
  	<foreach collection="list" open="(" close=")" separator="," item="ids">
  		#{ids}
  	</foreach>
  </delete>
  
  <update id="update" parameterType="cycle.oa.po.Document">
  	update document 
  	<set>
  		<if test="name!=null">
  			name = #{name},
  		</if>
  		<if test="docNum!=null">
  			doc_Num = #{docNum},
  		</if>
  		<if test="documentTitle!=null">
  			document_Title = #{documentTitle},
  		</if>
  		<if test="level!=null">
  			level = #{level},
  		</if>
  		<if test="createdatetime!=null">
  			create_datetime = #{createdatetime},
  		</if>
  		<if test="publishUserName!=null">
  			publishUserName = #{publishUserName},
  		</if>
  		<if test="remark!=null">
  			remark = #{remark},
  		</if>
  		<if test="signInfoString!=null">
  			signInfoString = #{signInfoString},
  		</if>
  	</set>
  	where id = #{id}
  </update>
  
  <select id="selectCount" resultType="long">
  	select count(id) from document
  </select>
  
  <select id="selectById" parameterType="int" resultMap="documentResultMap">
  	select id,document_title,level,CREATE_DATETIME,PUBLISHUSERNAME,remark,PUBLISH_UNIT_ID from document
  	where id = #{id}
  </select>
  
  <!-- 通过多条件分页查询，返回数据集 -->
  <select id="selectPageListDyc" parameterType="cycle.oa.po.Page" resultMap="documentResultMap">
  	select d.id,d.doc_Num,d.document_title,d.level,d.CREATE_DATETIME,d.PUBLISHUSERNAME,d.remark,
  	u.id unit_id,u.name unit_name
  	from 
  	document d left join unit u on d.PUBLISH_UNIT_ID = u.id
  	<where>
  		<if test="paramEntity.documentTitle!=null">
  			and document_Title like #{paramEntity.documentTitle}
  		</if>
  	</where>
	<choose>
		<when test="sort=='createDatetime'">ORDER BY create_Datetime ${order}</when>
		<when test="sort=='docNum'">ORDER BY doc_Num ${order}</when>
		<when test="sort=='documentTitle'">ORDER BY document_Title ${order}</when>
		<when test="sort=='publishUnit'">ORDER BY PUBLISH_UNIT_ID ${order}</when>
		<otherwise>ORDER BY ${sort} ${order}</otherwise>
	</choose>
  	limit #{start},#{rows}
  </select>
  
   <!-- 通过多条件分页查询，返回总记录数 -->
  <select id="selectPageCountDyc" parameterType="cycle.oa.po.Page" resultType="long">
  	select count(id) from document
  	<where>
  		<if test="paramEntity.documentTitle!=null">
  			and document_Title like #{paramEntity.documentTitle}
  		</if>
  	</where>
  </select>
</mapper>