<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cycle.oa.mapper.NewsMapper" >
  <resultMap id="newsResultMap" type="cycle.oa.po.News" >
  	<id column="id" property="id"/>
  	<result column="title" property="title"/>
  	<result column="content" property="content"/>
  	<result column="create_Time" property="createTime"/>
  	<result column="author" property="author"/>
  	
  	<association property="unit" javaType="cycle.oa.po.Unit">
  		<id column="unit_id" property="id"/>
  		<result column="unit_name" property="name"/>
  	</association>
  </resultMap>
  
  <!-- sql片段对应字段名,id属性值任意 -->
  <sql id="key">
  	<!-- 去掉最后一个, -->
  	<trim suffixOverrides=",">
  		<if test="title!=null and title!=''">
  			title,
  		</if>
  		<if test="content!=null and content!=''">
  			content,
  		</if>
  		<if test="createTime!=null">
  			create_Time,
  		</if>
  		<if test="updateTime!=null">
  			update_Time,
  		</if>
  		<if test="author!=null and author!=''">
  			author,
  		</if>
  		<if test="unit!=null">
  			<if test="unit.id!=null">
  				unit_id,
  			</if>
  		</if>
  	</trim>
  </sql>
  
  <sql id="value">
  	<!-- 去掉最后一个, -->
  	<trim suffixOverrides=",">
  		<if test="title!=null and title!=''">
  			#{title},
  		</if>
  		<if test="content!=null and content!=''">
  			#{content},
  		</if>
  		<if test="createTime!=null">
  			#{createTime},
  		</if>
  		<if test="updateTime!=null">
  			#{updateTime},
  		</if>
  		<if test="author!=null and author!=''">
  			#{author},
  		</if>
  		<if test="unit!=null">
  			<if test="unit.id!=null">
  				#{unit.id},
  			</if>
  		</if>
  	</trim>
  </sql>
  
  <insert id="insert" parameterType="cycle.oa.po.News">
  	<!-- 在使用MyBatis做持久层时，insert语句默认是不返回记录的主键值，而是返回插入的记录条数；如果业务层需要得到记录的主键时，可以通过配置的方式来完成这个功能 -->
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
  	insert into news(<include refid="key"/>) values(<include refid="value"/>)
  </insert>
  
  <!-- 传进数组,批量删除 -->
  <delete id="deleteByArray">
  	delete from news where id in 
  	<!-- foreach用于迭代数组元素
		 open表示开始符号
		 close表示结束符合
		 separator表示元素间的分隔符
		 item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同
		 #{ids}表示数组中的每个元素值
	 -->
  	<foreach collection="array" open="(" close=")" separator="," item="ids">
  		#{ids}
  	</foreach>
  </delete>
  
  <delete id="deleteByList">
  	delete from news where id in 
  	<!-- foreach用于迭代数组元素
		 open表示开始符号
		 close表示结束符合
		 separator表示元素间的分隔符
		 item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同
		 #{ids}表示数组中的每个元素值
	 -->
  	<foreach collection="list" open="(" close=")" separator="," item="ids">
  		#{ids}
  	</foreach>
  </delete>
  
  <update id="update" parameterType="cycle.oa.po.News">
  	update news 
  	<set>
  		<if test="title!=null and title!=''">
  			title = #{title},
  		</if>
  		<if test="content!=null and content!=''">
  			content = #{content},
  		</if>
  		<if test="createTime!=null">
  			create_Time = #{createTime},
  		</if>
  		<if test="updateTime!=null">
  			update_Time = #{updateTime},
  		</if>
  		<if test="author!=null and author!=''">
  			author = #{author},
  		</if>
  		<if test="unit!=null">
  			<if test="unit.id!=null">
  				unit_id = #{unit.id},
  			</if>
  		</if>
  	</set>
  	where id = #{id}
  </update>
  
  <select id="selectCount" resultType="long">
  	select count(id) from news
  </select>
  
  <select id="selectById" parameterType="int" resultMap="newsResultMap">
  	select id,title,content,create_Time,update_Time,author from news
  	where id = #{id}
  </select>
  
  <!-- 通过多条件分页查询，返回数据集 -->
  <select id="selectPageListDyc" parameterType="cycle.oa.po.Page" resultMap="newsResultMap">
  	select id,title,content,create_Time,update_Time,author
  	from news
  	<where>
  		<if test="paramEntity.title!=null">
  			and title like #{paramEntity.title}
  		</if>
  	</where>
  	<if test="sort!=null">
  		<choose>
  			<when test="sort=='createTime'">
  				ORDER BY create_Time ${order}
  			</when>
  			<otherwise>
  				ORDER BY ${sort} ${order}
  			</otherwise>
  		</choose>
  		
  	</if>
  	limit #{start},#{rows}
  </select>
  
   <!-- 通过多条件分页查询，返回总记录数 -->
  <select id="selectPageCountDyc" parameterType="cycle.oa.po.Page" resultType="long">
  	select count(id) from news
  	<where>
  		<if test="paramEntity.title!=null">
  			and title like #{paramEntity.title}
  		</if>
  	</where>
  </select>
</mapper>