<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cycle.oa.mapper.SignInfoMapper" >
  <resultMap id="signInfoResultMap" type="cycle.oa.po.SignInfo" >
  	<id column="id" property="id"/>
  	<result column="state" property="state"/>
  	<result column="signDate" property="signDate"/>
  	<result column="ip" property="ip"/>
  	<result column="signUserName" property="signUserName"/>
  	<association property="document" javaType="cycle.oa.po.Document">
  		<id column="document_id" property="id"/>
  		<result column="document_Title" property="documentTitle"/>
  		<result column="CREATE_DATETIME" property="createDatetime"/>
  		<result column="doc_num" property="docNum"/>
  		<result column="level" property="level"/>
  		<result column="PUBLISHUSERNAME" property="publishUserName"/>
  		<result column="remark" property="remark"/>
  		<association property="publishUnit" javaType="cycle.oa.po.Unit">
  			<id column="publishUnit_id" property="id"/>
  			<result column="publishUnit_name" property="name"/>
  		</association>
  		<collection property="myFiles" javaType="cycle.oa.po.MyFile">
  			<id column="myFile_id" property="id"/>
  			<result column="fileName" property="fileName"/>
  		</collection>
  	</association>
  	<association property="signUnit" javaType="cycle.oa.po.Unit">
  		<id column="unit_id" property="id"/>
  		<result column="unit_name" property="name"/>
  	</association>
  </resultMap>
  
  <!-- sql片段对应字段名,id属性值任意 -->
  <sql id="key">
  	<!-- 去掉最后一个, -->
  	<trim suffixOverrides=",">
  		<if test="state!=null">
  			state,
  		</if>
  		<if test="signDate!=null">
  			signDate,
  		</if>
  		<if test="ip!=null">
  			ip,
  		</if>
  		<if test="signUserName!=null">
  			signUserName,
  		</if>
  		<if test="document!=null">
  			document_id,
  		</if>
  		<if test="signUnit!=null">
  			SIGN_UNIT_ID,
  		</if>
  	</trim>
  </sql>
  
  <sql id="value">
  	<!-- 去掉最后一个, -->
  	<trim suffixOverrides=",">
  		<if test="state!=null">
  			#{state},
  		</if>
  		<if test="signDate!=null">
  			#{signDate},
  		</if>
  		<if test="ip!=null">
  			#{ip},
  		</if>
  		<if test="signUserName!=null">
  			#{signUserName},
  		</if>
  		<if test="document!=null">
  			#{document.id},
  		</if>
  		<if test="signUnit!=null">
  			#{signUnit.id},
  		</if>
  	</trim>
  </sql>
  
  <insert id="insert" parameterType="cycle.oa.po.SignInfo">
  	<!-- 在使用MyBatis做持久层时，insert语句默认是不返回记录的主键值，而是返回插入的记录条数；如果业务层需要得到记录的主键时，可以通过配置的方式来完成这个功能 -->
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
  	insert into signInfo(<include refid="key"/>) values(<include refid="value"/>)
  </insert>
  
  <!-- 传进数组,批量删除 -->
  <delete id="deleteByArray">
  	delete from signInfo where id in 
  	<!-- foreach用于迭代数组元素
		 open表示开始符号
		 close表示结束符合
		 separator表示元素间的分隔符
		 item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同
		 #{ids}表示数组中的每个元素值
	 -->
  	<foreach collection="array" open="(" close=")" separator="," item="ids">
  		#{ids}
  	</foreach>
  </delete>
  
  <delete id="deleteByList">
  	delete from signInfo where id in 
  	<!-- foreach用于迭代数组元素
		 open表示开始符号
		 close表示结束符合
		 separator表示元素间的分隔符
		 item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同
		 #{ids}表示数组中的每个元素值
	 -->
  	<foreach collection="list" open="(" close=")" separator="," item="ids">
  		#{ids}
  	</foreach>
  </delete>
  
  <update id="update" parameterType="cycle.oa.po.SignInfo">
  	update signInfo 
  	<set>
  		<if test="state!=null">
  			state = #{state},
  		</if>
  		<if test="signDate!=null">
  			signDate = #{signDate},
  		</if>
  		<if test="ip!=null">
  			ip = #{ip},
  		</if>
  		<if test="signUserName!=null">
  			signUserName = #{signUserName},
  		</if>
  		<if test="document!=null">
  			document_id = #{document.id},
  		</if>
  		<if test="signUnit!=null">
  			SIGN_UNIT_ID = #{signUnit.id},
  		</if>
  	</set>
  	where id = #{id}
  </update>
  
  <select id="selectCount" resultType="long">
  	select count(id) from signInfo
  </select>
  
  <select id="selectById" parameterType="int" resultMap="signInfoResultMap">
  	select s.id,s.state,s.signDate,s.ip,s.signUserName,
  	u.id unit_id,
  	d.id document_id,d.DOCUMENT_TITLE, d.CREATE_DATETIME,d.publishUserName,d.remark,
  	<!-- 发文单位名称 -->
  	pu.id publishUnit_id,pu.name publishUnit_name,
  	<!-- 附件列表 -->
  	mf.id myFile_id,mf.fileName
  	from 
  	signInfo s 
  	left join unit u on s.SIGN_UNIT_ID = u.id
  	left join (document d left join unit pu on d.PUBLISH_UNIT_ID = pu.id left join myFile mf on d.id = mf.document_id ) on s.DOCUMENT_ID = d.id
  	where s.id = #{id}
  </select>
  
  <!-- 根据docId查询 -->
  <select id="selectByDocId" parameterType="int" resultMap="signInfoResultMap">
  	select id,state,signDate,ip,signUserName 
  	from 
  	signInfo
  	where DOCUMENT_ID = #{docId}
  	
  </select>
  
  <select id="selectListByEntity" parameterType="cycle.oa.po.SignInfo" resultMap="signInfoResultMap">
  	select id,state,signDate,ip,signUserName,DOCUMENT_ID,SIGN_UNIT_ID
  	from 
  	signInfo
  	<where>
  		<if test="state!=null">
  			and state = #{state}
  		</if>
  		<if test="signUnit!=null">
  			and SIGN_UNIT_ID = #{signUnit.id}
  		</if>
  	</where>
  </select>
  
  <!-- 通过多条件分页查询，返回数据集 -->
  <select id="selectPageListDyc" parameterType="cycle.oa.po.Page" resultMap="signInfoResultMap">
  	select si.id,si.state,si.signDate,si.ip,si.signUserName,u.name unit_name,
  	d.CREATE_DATETIME,
  	d.DOCUMENT_TITLE,
  	d.doc_num,
  	d.LEVEL,
  	d.PUBLISHUSERNAME,
  	publishU.name publishUnit_name
  	from 
  	signInfo si left join unit u on si.SIGN_UNIT_ID = u.id
  	left join (document d left join unit publishU on d.PUBLISH_UNIT_ID = publishU.id ) on si.DOCUMENT_ID = d.id
  	<where>
  		<if test="paramEntity.document!=null">
  			<if test="paramEntity.document.id!=null">
  				<!-- 只查询属于指定公文id的签收表 -->
  				and si.DOCUMENT_ID = #{paramEntity.document.id}
  			</if>
  			<if test="paramEntity.document.documentTitle!=null">
  				and d.DOCUMENT_TITLE like #{paramEntity.document.documentTitle}
  			</if>
  			<if test="paramEntity.document.publishUnit!=null">
  				<if test="paramEntity.document.publishUnit.name!=null">
  					and publishU.name like #{paramEntity.document.publishUnit.name}
  				</if>
  			</if>
  		</if>
  		<if test="paramEntity.signUnit!=null">
			<if test="paramEntity.signUnit.id!=null">
				<!-- 查询指定签收单位的签收表 -->
				and si.SIGN_UNIT_ID = #{paramEntity.signUnit.id}
			</if>
		</if>
		<if test="paramEntity.state!=null">
			<!-- 查询指定签收状态 -->
			and si.state = #{paramEntity.state}
		</if>
		<if test="createDatetime_start!=null">
  			and d.create_Datetime <![CDATA[ >= ]]>#{createDatetime_start}
  		</if>
  		<if test="createDatetime_end!=null">
  			and d.create_Datetime <![CDATA[ < ]]> #{createDatetime_end}
  		</if>
  	</where>
  	<choose>
		<when test="sort=='document.createDatetime'">ORDER BY d.create_Datetime ${order}</when>
		<when test="sort=='document.docNum'">ORDER BY d.doc_Num ${order}</when>
		<when test="sort=='document.level'">ORDER BY d.level ${order}</when>
		<when test="sort=='document.documentTitle'">ORDER BY d.document_Title ${order}</when>
		<when test="sort=='document.publishUnit.name'">ORDER BY publishU.name ${order}</when>
		<when test="sort=='document.publishUserName'">ORDER BY d.publishUserName ${order}</when>
		<otherwise></otherwise>
	</choose>
  	limit #{start},#{rows}
  </select>
  
   <!-- 通过多条件分页查询，返回总记录数 -->
  <select id="selectPageCountDyc" parameterType="cycle.oa.po.Page" resultType="long">
  	select count(si.id) 
  	from 
  	signInfo si left join unit u on si.SIGN_UNIT_ID = u.id
  	left join (document d left join unit publishU on d.PUBLISH_UNIT_ID = publishU.id ) on si.DOCUMENT_ID = d.id
  	<where>
  		<if test="paramEntity.document!=null">
  			<if test="paramEntity.document.id!=null">
  				<!-- 只查询属于指定公文id的签收表 -->
  				and si.DOCUMENT_ID = #{paramEntity.document.id}
  			</if>
  		</if>
  		<if test="paramEntity.signUnit!=null">
			<if test="paramEntity.signUnit.id!=null">
				<!-- 查询指定签收单位的签收表 -->
				and si.SIGN_UNIT_ID = #{paramEntity.signUnit.id}
			</if>
		</if>
		<if test="paramEntity.state!=null">
			<!-- 查询指定签收状态 -->
			and si.state = #{paramEntity.state}
		</if>
		
  	</where>
  </select>
</mapper>