<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cycle.oa.mapper.UnitMapper" >
  <resultMap id="unitResultMap" type="cycle.oa.po.Unit" >
  	<id column="id" property="id"/>
  	<result column="name" property="name"/>
  	<result column="create_datetime" property="createDatetime"/>
  	<result column="update_datetime" property="updateDatetime"/>
  	<result column="full_name" property="fullName"/>
  	<result column="tel" property="tel"/>
  	<result column="state" property="state"/>
  	<result column="remark" property="remark"/>
  	<association property="myGroup" javaType="cycle.oa.po.MyGroup">
  		<id column="group_id" property="id"/>
  		<result column="group_name" property="name"/>
	  	<result column="group_owner_unit" property="ownerUnit"/>
	  	<result column="group_remark" property="remark"/>
  	</association>
  </resultMap>
  
  <!-- sql片段对应字段名,id属性值任意 -->
  <sql id="key">
  	<!-- 去掉最后一个, -->
  	<trim suffixOverrides=",">
  		<if test="createDatetime!=null">
  			create_datetime,
  		</if>
  		<if test="updateDatetime!=null">
  			update_datetime,
  		</if>
  		<if test="name!=null">
  			name,
  		</if>
  		<if test="fullName!=null">
  			full_name,
  		</if>
  		<if test="tel!=null">
  			tel,
  		</if>
  		<if test="state!=null">
  			state,
  		</if>
  		<if test="remark!=null">
  			remark,
  		</if>
  		<if test="myGroup.id!=null">
  			myGroup_id,
  		</if>
  	</trim>
  </sql>
  
  <sql id="value">
  	<!-- 去掉最后一个, -->
  	<trim suffixOverrides=",">
  		<if test="createDatetime!=null">
  			#{createDatetime},
  		</if>
  		<if test="updateDatetime!=null">
  			#{updateDatetime},
  		</if>
  		<if test="name!=null">
  			#{name},
  		</if>
  		<if test="fullName!=null">
  			#{fullName},
  		</if>
  		<if test="tel!=null">
  			#{tel},
  		</if>
  		<if test="state!=null">
  			#{state},
  		</if>
  		<if test="remark!=null">
  			#{remark},
  		</if>
  		<if test="myGroup.id!=null">
  			#{myGroup.id},
  		</if>
  	</trim>
  </sql>
  
  <insert id="insert" parameterType="cycle.oa.po.Unit">
  	<!-- 在使用MyBatis做持久层时，insert语句默认是不返回记录的主键值，而是返回插入的记录条数；如果业务层需要得到记录的主键时，可以通过配置的方式来完成这个功能 -->
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS id
	</selectKey>
  	insert into unit(<include refid="key"/>) values(<include refid="value"/>)
  </insert>
  
  <!-- 传进数组,批量删除 -->
  <delete id="deleteByArray">
  	delete from unit where id in 
  	<!-- foreach用于迭代数组元素
		 open表示开始符号
		 close表示结束符合
		 separator表示元素间的分隔符
		 item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同
		 #{ids}表示数组中的每个元素值
	 -->
  	<foreach collection="array" open="(" close=")" separator="," item="ids">
  		#{ids}
  	</foreach>
  </delete>
  
  
  <update id="update" parameterType="cycle.oa.po.Unit">
  	update unit 
  	<set>
  		<if test="createDatetime!=null">
  			create_datetime = #{createDatetime},
  		</if>
  		<if test="updateDatetime!=null">
  			update_datetime = #{updateDatetime},
  		</if>
  		<if test="name!=null">
  			name = #{name},
  		</if>
  		<if test="fullName!=null">
  			full_Name = #{fullName},
  		</if>
  		<if test="tel!=null">
  			tel = #{tel},
  		</if>
  		<if test="state!=null">
  			state = #{state},
  		</if>
  		<if test="remark!=null">
  			remark = #{remark},
  		</if>
  		<if test="myGroup.id!=null">
  			myGroup_id = #{myGroup.id},
  		</if>
  	</set>
  	where id = #{id}
  </update>
  
  <select id="selectCount" resultType="long">
  	select count(id) from unit
  </select>
  
  <!-- 通过传进来的实体对象查询List -->
  <select id="selectListByEntity" parameterType="cycle.oa.po.Unit" resultMap="unitResultMap">
  	select id,create_datetime,name,full_Name,tel,state,remark from unit
  	<where>
  		<if test="myGroup!=null">
  			myGroup_id = #{myGroup.id}
  		</if>
  	</where>
  </select>
  
  <select id="selectAll" parameterType="map" resultMap="unitResultMap">
  	select id,create_datetime,name,full_Name,tel,state,remark FROM unit
  	<where>
  		<!-- 模糊查询，name字段传进来之前请在前后加上% -->
  		<if test="name!=null">
  			and name like ${name}
  		</if>
  	</where> 
  </select>
  
  <select id="selectById" parameterType="int" resultMap="unitResultMap">
  	select id,create_datetime,name,full_Name,tel,state,remark from unit
  	where id = #{id}
  </select>
  
  <!-- 通过多条件分页查询，返回数据集 -->
  <select id="selectPageListDyc" parameterType="cycle.oa.po.Page" resultMap="unitResultMap">
  	select 
  	unit.id,unit.create_datetime,unit.name,unit.full_Name,unit.tel,unit.state,unit.remark,
  	myGroup.id group_id,myGroup.name group_name,myGroup.owner_unit group_owner_unit 
  	from unit left join myGroup on unit.MyGROUP_ID=mygroup.id
  	<where>
  		<if test="paramEntity.name!=null">
  			and CONCAT(unit.name,unit.full_name) like #{paramEntity.name}
  		</if>
  		<if test="paramEntity.tel!=null">
  			and unit.tel = #{paramEntity.tel}
  		</if>
  		<if test="paramEntity.myGroup!=null">
  			<if test="paramEntity.myGroup.id!=null">
  				and unit.MyGROUP_ID = #{paramEntity.myGroup.id}
  			</if>
  		</if>
  	</where>
	
  	<if test="sort!=null">
<!--   		<if test="sort=='fullName'"> -->
<!--   			ORDER BY full_Name ${order} -->
<!--   		</if> -->
<!--   		<if test="sort!='fullName'">ORDER BY ${sort} ${order}</if> -->
  		<choose>
  			<when test="sort=='fullName'">ORDER BY full_Name ${order}</when>
  			<otherwise>ORDER BY ${sort} ${order}</otherwise>
  		</choose>
  	</if>
  	limit #{start},#{rows} 
  </select>
  
   <!-- 通过多条件分页查询，返回总记录数 -->
  <select id="selectPageCountDyc" parameterType="cycle.oa.po.Page" resultType="long">
  	select count(unit.id) from unit left join myGroup on unit.MyGROUP_ID=mygroup.id
	<where>
  		<if test="paramEntity.name!=null">
  			and CONCAT(unit.name,unit.full_name) like #{paramEntity.name}
  		</if>
  		<if test="paramEntity.tel!=null">
  			and unit.tel = #{paramEntity.tel}
  		</if>
  		<if test="paramEntity.myGroup!=null">
  			<if test="paramEntity.myGroup.id!=null">
  				and unit.MyGROUP_ID = #{paramEntity.myGroup.id}
  			</if>
  		</if>
  	</where>
  </select>
</mapper>